body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

form {
    background: #ffffff;
    padding: 20px;
    border: 1px solid #cccccc;
    margin: 20px auto;
    width: 300px;
    box-shadow: 2px 2px 12px #aaaaaa;
}

form input[type="submit"],
form button {
    background-color: #35424a;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

form input[type="submit"]:hover,
form button:hover {
    background-color: #45a049;
}

footer {
    background-color: #35424a;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}



/*For REGISTER  */
.card {
    margin-top: 20px;
}

.card-header {
    padding: 10px 20px;
}

.form-group {
    margin-bottom: 20px;
}

label.font-weight-bold {
    font-size: 1.1rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
/* For Login */
.container {
    max-width: 600px;
}

.card {
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card-header {
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.alert {
    border-radius: 0;
}

/* Predict */
/* styles.css or in your base_generic.html */
.container {
    max-width: 800px;
}

.card {
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card-header {
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.font-weight-bold {
    font-weight: bold;
}

/* Ensure uniform height for form fields and options */
select.form-control,
input[type="text"].form-control,
input[type="number"].form-control,
input[type="email"].form-control {
    height: 48px; /* Adjust as needed */
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Prediction Result */
.container {
    max-width: 600px;
}

.card {
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card-header {
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
}

.card-body p {
    font-size: 1.25rem;
    text-align: center;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
